<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @talent.first_name %></h1>
    <p>
       Thak you for your submission to <%= @job.title %>.<br>
    </p>
  </body>
</html>