<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-warning bg-action">
    <h4><%= ("Check the form") %></h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
