<div class="bg-light rounded dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="1">
  <input data-target="dropzone.input" data-direct-upload-url="http://localhost:3000/rails/active_storage/direct_uploads" type="file" name="job[production_image]" id="job_production_image" disabled="" style="display: none;">
<div class="dropzone-msg dz-message needsclick ">
  <p class="dropzone-msg-title">Drag image here to start upload or tap to browse</p>
  <span class="dropzone-msg-desc small text-muted">2 MB file size maximum. Allowed file types png, jpg.</span>
</div>