<div class="row justify-content-center align-items-center vh-100">
  <div class="col-lg-5 col-md-8 col-sm-10">
    <div class="bg-light shadow-sm rounded p-4">
      <h1>Application Submited</h1>
      <p><strong><%= current_member.first_name %></strong>,
        <br>
        Your application for background actor on <strong><%= @job.title %></strong> has been submited. If your application is accepted, the casting director or a production assistant will contact you at (Phone number)
        or<strong>
          <%= current_member.email %>
        </strong>with instructions and shoot details.</p>
      <%= link_to "Back To Casting Calls", jobs_path %>
    </div>
  </div>
</div>
