<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-12 mx-auto bg-light shadow-sm rounded py-4" style="max-width: 600px;" >
      <h1>Editing Job</h1>
      
      <%= render 'form', job: @job %>
      <%= link_to 'Show', @job %> |
      <%= link_to 'Back', jobs_path %>
      
    </div>
  </div>
</div>
