<section id="casting_calls" class="display">
	<div class="container-fluid">
	  <div class="row justify-content-center ">
  <div class="col-sm-12 mx-auto rounded py-4 mb-4" style="max-width: 600px;" >
  <%= render 'layouts/search-form' %>
  </div>
  	</div>
		<div class="row justify-content-center ">
			<div class="col-md-12 col-lg-6" style="max-width: 600px;">
				<%= render @jobs %>
			</div>
		</div>
	</div>
</section>
