<div class="container-fluid ">
  <div class="row py-4">
    <div class="col-lg-4 col-md-4 m-auto bg-dark ">
      <h1>New Job</h1>
      
      <%= render 'form', job: @job %>
      
      <%= link_to 'Back', jobs_path %>
    </div>
  </div>
</div>

