<div class="container-fluid ">
  <div class="row py-4">
    <div class=" col-sm-5 col-md-5 bg-dark p-4 mx-auto">
      <h1>New Job</h1>
      
      <%= render 'form', job: @job %>
      
      <%= link_to 'Back', jobs_path %>
    </div>
  </div>
</div>

