  
  <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-sm-12 mx-auto bg-light shadow-sm rounded py-3" style="max-width: 600px;" >
        <%= render 'form', job: @job %>
			</div>
		</div>
	</div>

