  
  <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-sm-12 mx-auto bg-light shadow-sm rounded pb-3" style="max-width: 600px;" >
			<p class="align-text-top py-4 mb-0"><%= icon("chevron-left", class: "text-info align-middle") %><%= link_to 'Back', :back %></p>
        <%= render 'form', job: @job %>
			</div>
		</div>
	</div>

