<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="bg-light rounded shadow-sm p-5">
      <h1 class="mb-5">Create Casting Call</h1>
        <%= render 'form', job: @job %>
      </div>
		</div>

      <div class="col-md-4 pr-md-0">
        <div class="card shadow-sm">
          <h5 class="card-header">New Job Listing</h5>
          <div class="card-body">
             <div class="form-group input-group-lg">
              <div class="actions">
                <input type="submit" class="btn btn-lg btn-success" value="Post" form="job-form">
              </div>
            </div>
            <div class="btn-group mb-4">
            </div>
          </div>
        </div>
      </div>
	</div>
</div>