  
  <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-sm-12 mx-auto bg-666" style="max-width: 800px;" >
      <div class="py-5">
      <p class="align-text-top"><%= icon("chevron-left", class: "text-info align-middle") %><%= link_to 'Back', jobs_path %></p>
      </div>
        <%= render 'form', job: @job %>
			</div>
		</div>
	</div>

