<div class="container">
<h3 class="mb-5">New Casting Call</h3>
  <div class="row justify-content-center">
    <div class="col">
      <%= render 'form', job: @job %>
		</div>
      <div class="col-md-4 pr-md-0 d-none d-md-block">
        <div class="card rounded shadow-sm ">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light"><a href="#">Basic Info</a></li>
            <li class="list-group-item bg-light"><a href="#">Image</a></li>
            <li class="list-group-item bg-light"><a href="#">Roles</a></li>
            <li class="list-group-item bg-light"><a href="#">Dates and Locationn</a></li>
            <li class="list-group-item bg-light"><a href="#">Payment</a></li>
            <li class="list-group-item bg-light"><a href="#">Production Details</a></li>
            <li class="list-group-item bg-light"><a href="#">Submitions</a></li>
          </ul>
        </div>
      </div>
	</div>
</div>