    <div class="card-header d-flex align-items-center">
      <% if job.member.profile_image.attached? %>
        <%= image_tag(job.member.profile_image.variant(resize_to_limit: [50, 50]), class:'rounded-circle mr-3') %>
      <% else %>
        <%= icon("person-circle", class: "text-muted mr-3", width:"50px", height:"50px") %>
      <% end %>
      <strong class="text-muted "><%= job.member.first_name %><br>
      <span class="small text-muted">Posted <%= time_ago_in_words(job.created_at) %> ago</span></strong>
    </div>