<div class="container-fluid">
  <div class="row justify-content-center align-items-center  vh-100">
    <div class="bg-light shadow-sm rounded p-5 text-danger  text-center"><h1>See Ya Later</h1><%=link_to 'Sign in', new_member_session_path %></div>
  </div>
</div>