<div class="container-fluid">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="bg-dark p-5 text-danger text-center"><h1>Goodbye</h1><%=link_to 'Sign in', new_member_session_path %></div>
  </div>
</div>