@import url('https://fonts.googleapis.com/css?family=Merriweather:900i');
@import url('https://fonts.googleapis.com/css2?family=Asar&family=Assistant&display=swap');
$enable-responsive-font-sizes: true !default;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Body//
$body-bg: $gray-900 !default;
$body-color: $white !default;
// Radius and border
$border-radius: 0.123rem;
$input-focus-border-color: #3dc8ff;
$input-transition: border-color 0.15s;
/// inputs
$input-focus-color: #3dc8ff;
$input-border-focus: rgb(203, 236, 15);
$input-focus-box-shadow: 3 1 3 #111;
$input-bg: $gray-900;
$input-border-color: $gray-700;
//$input-box-shadow: rgb(19, 108, 224);

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Assistant', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-family-display: 'Asar';

$theme-colors: (
  'primary': darken(#3caaff, 6.5%),
  'danger': hsl(345, 88%, 52%),
  'success': #38ba00,
  'warning': #ff9200,
  'info': #59bcf5,
  'action': #e2d23f,
  'filter': rgba(0, 0, 0, 0.589),
);

// logo
a.navbar-brand {
  font-size: 21px;
  font-family: Merriweather, serif;
  font-weight: 900;
  font-style: italic;
  color: #ff002d !important;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
  font-family: $font-family-display;
}

//bootstrap toast positions
.toast {
  position: absolute;
  top: 80px;
  right: 10px;
}

.vh-100 {
  min-height: 100vh;
}
.bg-filter {
  background-color: rgba(0, 0, 0, 0.589) !important;
}
