<footer class="bg-gray-800 border-top border-gray-700">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, laboriosam facilis tempore fugiat tempora nisi vitae sequi cupiditate vero doloribus. Quaerat dolor harum velit iusto, illum reprehenderit quo totam expedita.
        </p>
      </div>
      <div class="col-md-6">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, laboriosam facilis tempore fugiat tempora nisi vitae sequi cupiditate vero doloribus. Quaerat dolor harum velit iusto, illum reprehenderit quo totam expedita.
        </p>
      </div>
    </div>
  </div>
</footer>