<div class="col bg-light shadow-sm py-4 rounded">
  <%= form_with(url: search_path, class: "input-group input-group-lg", local: true, method: :get) do |f| %>
    <%= f.text_field :search, class: 'form-control mr-sm-2', placeholder: 'Enter search term...' %>
    <%= f.submit "Search", disable_with: 'Searching...', class:"btn btn-lg btn-outline-success my-2 my-sm-0" %>
  <% end %>
</div>