<%# messages and alerts with bootsrap toast %>
<% unless flash.empty? %>
<% flash.each do |type, message| %>
<div aria-live="assertive" aria-atomic="true" style="">
  <div class="toast" >
    <div class="toast-header bg-<%= bootstrap_class_for(type) %> ">
      <%# <img src="..." class="rounded mr-2" alt="..."> %>
      <strong class="mr-auto text-uppercase ml-2">
        <%= type %>
      </strong>
      <%# <small>11 mins ago</small> %>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body bg-<%= bootstrap_class_for(type) %>" data-dismiss="toast">
      <%= message %>
    </div>
  </div>
</div>
<% end %>
<% end %>